*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #19b84e;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    
}
.topnav{
    background-color: black;
    width: 100px;
    text-align: center;
}
