*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #111111;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #fffafa;
}
.header{
    background-color: #19b84e;
    height: 100px;
    width: 100%;
}
.navspread{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resolution{
    margin: 12px 35px 0 0;
    font-size: 20px;
}
.logo{
    height: 80px;
    margin: 6px 0 0 20px;
}
.topnav{
    width: 20%;
    margin: 0 40%;
    position: absolute;
    display: flex;
    justify-content: left;
    cursor: pointer;
}
.menu_item{
    background-color: #19b84e;
    color: #111111;
    text-align: center;
    text-decoration: none;
    width: 50%;
    height: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-top: 35px;
    list-style: none;
}
.menu_item:hover{
    background-color: #058a31;
    transition: 0.5s;
}

@keyframes growDown {
  0% {
    transform: rotateX(-90deg)
  }
  70% {
    transform: rotateX(30deg)
  }
  100% {
    transform: rotateX(0deg)
  }
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #19b84e;
    min-width: 50%;
    z-index: 100;
    overflow: visible;
    top: 100px;
    animation: growDown 0.5s ease-in-out forwards;
    transform-origin: top center;
}
.dropdown li{
    padding: 20px;
    text-decoration: none;
    display: block;
    z-index: 100;
    font-size: 20px;
}
.dropdown li:hover{
    background-color: #058a31;
    transition: 0.5s;
}
.menu_item:hover .dropdown{
    display: block;
}



.main{
    background-color: #fffafa;
}

.gallery_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #111111;
}
.gallery {
    height: 720px;
    width: 1280px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
}

.slide {
    height: 720px;
    position: absolute;
    transition: 0.7s ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide_buttons{
    position: center;
    display: flex;
    z-index: 10;
    width: 12%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.slide_button{
    background-color: #fffafa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.slide_button_selected{
    background-color: #9b9696;
}


.btn {
    position: absolute;
    height: 100px;
    border: none;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}
.btn:hover {
    transform: scale(1.1);
}
.btn-prev {
    left: 50px;
}
.btn-next {
    right: 50px;
}




.search{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_bar{
    height: 80px;
    width: 60%;
    border-radius: 40px;
    border: #19b84e 2px solid;
    background-color: #fffafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_bar_text{
    font-size: 50px;
    background-color: #fffafa;
    margin-left: 2%;
    width: 90%;
}
.search_bar_text:focus{
    outline: none;
}
.submit{
    height: 50px;
    width: 6%;
    margin-right: 1.5%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
.submit img{
    width: 100%;
}


.category_previews{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.homepage_category{
    height: 350px;
    width: 85%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.homepage_category h2{
    font-weight: 500;
    margin: 5px;
}
.category_images{
    width: 100%;
    border: #19b84e 2px solid;
    height: 412px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category_images img{
    width: 30%;
}











/* footer */

.footer{
    background-color: #19b84e;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    height: 120px;
    margin: 40px 0 40px 50px;
}
.footer_menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}
.footer_menus ul li{
    list-style: none;
}
.footer_menu_head{
    font-weight: 500;
}
.light_box{
    position: relative;
    width: 200px;
    margin: 50px 50px 0 50px;
}
.switch{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #111111;
    border-radius: 50px;
    cursor: pointer;
}
.input{
    position: absolute;
    display: none;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}
.input:checked ~ .slider{
    background-color: #fffafa;
}
.slider::before{
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0 0 #fffafa;
    background-color: #111111;
    transition: 0.3s;
}
.input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: #111111;
  box-shadow: none;
}

